---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.mdx');
const pageTitle = "記事一覧";
---
<BaseLayout pageTitle={pageTitle}>
	<div class="blog-list">
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} pubDate={post.frontmatter.pubDate} tags={post.frontmatter.tags} />)}
	</div>
</BaseLayout>