---
const { title, url, description, pubDate, tags } = Astro.props;
---
<div class="post-thumbnail">
  <h3><a class="title" href={url}>{title}</a></h3>
  <div class="info">
    <div class="tags">
      {tags.map((tag) => (
        <p class="tag">#<a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    <p class="pubDate">{pubDate}</p>
  </div>
  <p class="description">{description}</p>
</div>