---
import BaseLayout  from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <div class="info">
    <div class="tags">
      {frontmatter.tags.map((tag) => (
        <p class="tag">#<a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    <p class="pub-date">{frontmatter.pubDate.toString().slice(0,10)}</p>
  </div>
  <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->
  <slot />
</BaseLayout>

<style>
  .info {
    display: flex;
  }

  .pub-date {
    font-size: 0.8em;
    margin: 0.25em;
    margin-left: auto;
  }

  img {
    padding-top: 3em;
  }
</style>